body{


background-color:   #151414;
}
.App{
  margin: auto;
}

nav{
 
  display: flex;
  justify-content: center;
  gap:250px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

  ul{
  display: flex;
  justify-content: center;
  gap:110px;
  color: inherit;
  
  
}
 li{
  list-style: none;
  
 

}
.ll{
  color:#a0d2eb;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;


}
a{
  color:#a0d2eb;
  text-decoration: none;
  font-weight: 600;

}


@media(max-width:380px){

  nav{
    max-width: 50%;
  }
 ul{
  padding-left: 0px;
  padding: 10px;
  gap:20%;
 }
 
 
}
/* ////////////////////// */

.rain-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  pointer-events: none; /* Ensure it doesn't block interactions */
}

.raindrop {
  position: absolute;
  top: -50px;
  color: white;
  font-size: 30px;
  animation: fall linear 3s 0s 2;
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  50% {
    
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

.det-img{
  max-width: 70%;
  margin: auto;
  display: flex;
  margin-top: 3%px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;

}
.det{
  flex-basis: 50%;
  text-align: left;
  margin: auto;

  padding-top: 90px;
  
}
.img{
  flex-basis: 50%;
  margin: auto;

}
.img img{
  padding-left: 0px;
  margin: auto;
}

.det h1,h2{
  color: aliceblue;
  
}
.det span{
  color:#8e69b7;
  transition:0.9s;
}
.det h3{
  color:#8e69b7
}
@media(max-width:380px){
  .img img{
    width:300px;
    margin-top: 5%;
  }
  .det-img{
    max-width: 100%;
  }
  .det{
    max-width:90% ;
    padding-top: 0%;
    flex-basis: 66%;
 
  }
  .det h3{
    margin-top: 0px;
  }
  .det h1{
    max-width: 100%;
    margin-bottom: 0px;
  }

}
/* ////////////////////////////////// */
.sk{
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 40px;
  
  gap:30px

}
.skill{
  margin-top: 4%;
  max-width: 100%;
}
.h11{
  color:#8e69b7;
  text-align: center;
  margin-bottom:5px;

}

.skill p{

  color:#a3a3a3;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px 6%;
}
/* .fullst{
  flex-basis: 50%;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;

  padding-top: 20px;
}
.skil-lan{
  flex-basis: 50%;
  display: flex;
  gap:30px;
  padding-top: 20px;
} */

.front, .back, .lang, .other{
text-align: center;
border-radius: 5px;
width: 300px;
height: 300px;
box-shadow: rgba(132, 197, 230, 0.5) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
}
.front:hover, .back:hover, .lang:hover, .other:hover{
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
}
.front2, .back2{
  padding: 2%;
}

/* .front{
  flex-basis: 50%;
}
.back{
  flex-basis: 50%;
}
.skil-lan{
  flex-basis: 50%;
}
.other{
  flex-basis: 50%;
} */
label{
  color:#8188a4;
  background-color: #000000;
  padding: 9px;
  border-radius: 4px;
  margin-right: 9px;
  margin-left: 9px;
 border: 1px solid #585d73;
}
label:hover{
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
 }
  

.fst{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  
  padding-left: 5%;
  gap:2%
}
.sec{
  margin-top: 30px;
}
.thi{
  margin-top: 40px;
}
@media( max-width:380px){
  /* .front{
  width: 100%;
  } 
  .fullst ,.skil-lan{
    flex-basis: 80%;
  } */
   
   .sk{
    max-width: 90%;}
   .fst{
    padding-left: 8%;
    
   
  }
 .back h2{
  margin-bottom: 32px;
 }
  .front, .back{
    width:300px;

  }
  label{
   margin-top: 4%;
   
  }
}

/* //////////////////////////////////////////////// */

/* Projects */

.projects{
   margin-top: 50px;
   max-width: 100%;
   margin: auto;
  
  
}
.projects p{
  color:#a3a3a3;
  text-align: center;
  margin-bottom: 27px;
  padding: 0px 6%;
}

.proitem{
   max-width: 60%;
   margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px
  


}
.pcard{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  color:#8188a4;
  border-radius: 7px;
  

}
.pcard:hover{
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
 }
/* .pimg img{
  max-width: 300px;
} */
.pimg{
  flex-basis: 50%;
  /* max-width: 300px; */
  padding: 0px;
}
.pcontent{
  flex-basis: 50%;
  /* max-width: 300px; */
  
 
  background-color: #0a0a0a;
 
}
@media(max-width:380px){
  .pimg img{
  max-width: 300px;
}
.pimg{
 
  max-width: 300px;
  padding: 0px;
}
.pcontent{

  max-width: 300px;
  
 
  background-color: #0a0a0a;
 
}}
/* /////////////////////////////////////////// */

/* education */

.educ{

  margin-top: 30px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
.edu-card{

  max-width: 36%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  
   
 
  
  margin: auto;
  color:#8188a4;
  background-color: #000000;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #585d73;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.05em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
  cursor: pointer;
 

}
.educc {
 
  text-align: center;
  margin-bottom: 27px;
  padding: 0px 6%;
  color:#a3a3a3;
}


.img-nam{
  display: flex;
  justify-content: left;
  gap: 10px;

}
.eimg{
  flex-basis: 10%;

}
.eimg img{
  border-radius: 10px;
}
.enam{
  flex-basis: 90%;
}
.enam p,h4{
  margin: 0px;
}
.e-det p{
   margin: 2px 0px;
}
@media(max-width:380px){
  .edu-card{

    max-width: 80%;}
}


/* /////////////////////// */
/* Works */
/* .worksss{
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: left;
  gap: 50px;
  margin-top: 80px;
  
}
.work-namee{
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
 
}
.work-details{
  flex-basis: 80%;
  max-width: 100%;

}
@media(max-width:460px){
.worksss{
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
  
}
.work-namee{
 max-width: 100vh;
  display: flex;

 
}
.work-details{
  max-width: 100vh;

}

} */
.workss {
  max-width: 40%;
  margin: auto;
  text-align: left;
  margin-top:5% ;
}
/* .workss2{
  max-width: ;
} */

.workss ul{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  list-style-type:armenian;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.05em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
 
}
.workss ul li{
  list-style-type:decimal;
}
.workss ul li::marker{

  color: #9fc6da;
}
@media(max-width:380px){
  .workss{
    max-width: 90%;
  }
}



/* ////////////////////////////////////////

Footer */

.foot{
max-width: 100%;
height: 400px;
background-color: #000000;
display: flex;
justify-content: left;
gap: 340px;
margin-top: 100px;
border-top: 1px solid #585d73;
box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.05em, rgba(160, 210, 235, 0.82) 0px 0.25em 1em;

position: relative;}
.fcont{
margin-left: 90px;
margin-top: 80px;
padding: 10px;
}
.fsocial{
  margin-top: 80px;
}
.fsocial h3,h4{
  text-align: center;
}
.fcont h3,.fsocial h3,h4{
  color:rgba(160, 210, 235, 0.75)
}
.fcont p{
  color:#585d73;
}
.fsocial h4{
  color:#585d73;
  width: 200px;
 
  /* display: flex;
  justify-content: center;
  gap: 20px; */

}
.fsh4  h4{
 display: flex;
 gap: 20%;
 justify-content: center;
}
.fh4 {
  position: absolute;
  color: #8188a4;
  bottom: 10px;
  left: 46.5%;

}
.fsh4{
  font-size: 30px;
}


@media(max-width:380px){
  .foot{
    gap: 0px;
   
  }
  .fcont{
    margin-left: 10px;
    margin-top: 20px;
  }
  .fsocial{
    margin-top: 29px;
    text-align: left;
    width: 100px;
  }
  .fsh4 h4{
    flex-direction: column;
    gap: 6px;
    width: 10%;
    padding-left: 40%;
  }
  .fsocial h3{
    text-align: left
    ;
    padding-left: 28%;
  }
  .foot{
  height: 300px;
  }
  .fh4 {
    font-size: 15px;
   
    left:35%;
  }
  .fh4 h4{
    color: #7c8091;
    font-weight: 400;
  }
  .fsh4 span{
   text-align: left;
   width:inherit;
   display: block;
   padding-left: 20%;
   font-size: 25px;
  }
 
  
  
}







/* ///////////////////////////////////////// */

/* service_0mo48qw   service_0mo48qw */

.contdiv{
  max-width: 100%;
  margin: auto;


}
.emialcont{

     text-align: center;
     margin: auto;
     color: #585d73; 
     max-width: 400px;
     border: 1px solid #585d73;
     box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.05em, rgba(160, 210, 235, 0.82) 0px 0.25em 1em;
     border-radius: 4px;
     
}
.emialcon {
  text-align: center;
  padding: 50px 0px;

  margin: auto;
  color: #8086a0; 

}
.emialcon h3{
    margin:4px 100px;
    text-align: left;
    font-weight: 400;
    
}
.emialcon input {
  height: 25px;
  width: 200px;
  border-radius: 4px;
  background-color: #000000;
  border: 1px solid #8086a0;
  color: #a3a9c6;
  padding: 3px 4px; 
}
.emialcon textarea{
  width: 200px;
  height: 55px;
  border-radius: 4px;
  background-color: #000000;
  color: #9da3c1; 
  padding: 3px 4px; 
}
.emialcon button{
  margin-bottom: 50px;
  cursor: pointer;
  padding:5px 14px;
  background-color: #000000;
  border: 1px solid #a1a8c8;
  border-radius: 3px;
  color: #a0d2eb;
  box-shadow: rgba(160, 210, 235, 0.434) 0px 0px 0.05em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;

}
.emialcon button:hover{
 opacity: 0.4;

 
  
}
@media(max-width:380px){
  .emialcont{
    max-width: 300px;
  }
  .emialcont h3{
   margin: 3px 50px;

  }
}

/* /////////////////////////////
recipe */
/* .qiz_cont{
    max-width: 100%;
    margin: auto;
    text-align: center;
    color: wheat;
   
   
}
.qiz_cont h1{
  font-size: 3rem;
}
.qiz_cont p{
    font-size: 1.5rem;
}

.qiz_cont h1{
    text-align: center;
}
.recipedet{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
   
    
}
.recipedet img{
    width: 300px;
    height: 200px;
  
}
.recimg {
    margin-top: 20px;
    flex-basis: 30%;
}

.rdet,.rins{
   
    padding: 5px;
    border-left: 1px solid black;
}
.rdet{
    flex-basis: 20%;
    
}
.rins{
    flex-basis: 45%;
}
.back_img {
  max-width: 100%;


  margin-top: 50px;
}
.back_img img{
    max-width: 100%;
    max-height: auto;
}

@media (max-width:480px){

    .qiz_cont h1{
        font-size: 1.5rem;
      }
      .qiz_cont p{
          font-size: 1rem;
      }
      .recipedet{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        gap: 10px;
       
        
        }

        .rdet,.rins{
   
            padding: 5px;
            border-top: 1px solid black;
        }
        .rdet2{
           
            
        }



} */