.weatherapp{
    height:69vh;
    /* box-shadow: rgba(132, 197, 230, 0.5) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em; */
    background-color: rgb(15, 16, 16);
}

.a{
   
    margin-left: 70px; 
    padding-top: 20px;
    color: #a0d2eb;
}
.search{

    max-width: 300px;
    display: flex;
  
    justify-content: center;
    gap:7px;
    margin-top: 10px;
    margin-left: 33px;
  
}
.search input{
    height:25px;
    font-size: 15px;
    background-color: #000000;
  border: 1px solid #585d73;
  color: #6c738f;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
    
}
.details{
     max-width: 300px;
    display: flex;
    flex-direction: column;
     justify-content: center;
     padding-left: 20px;
     padding-top: 0px;
    margin: auto;
    margin-top:130px ;
     background-color: rgb(240, 248, 255);
     border-radius: 3px;
     box-shadow: 0.1,2,2,2,black

}
h1,h2,h4{
    padding:0px ;
    margin: 3px;
}
h2{
    margin-top: 9px;
}
h4{
    margin-bottom: 9px;
}
.search button{
    margin-left: 5px;
    padding: 5px;
    background-color: rgb(171, 134, 134);
   cursor: pointer;
  border: solid 1px rgb(130, 82, 82);
   border-radius: 2px;
   height: 30px;
   color: aliceblue;
   font-size: 13px;
}
.search button:hover{
    opacity: 0.34;
}
.lod{
   position: absolute;
   left:50%;
   
}

/* ////////////////////// */
/* todo */

 .todoapp{
    /* box-shadow: rgba(132, 197, 230, 0.5) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em; */
    background-color: rgb(15, 16, 16);
}
.h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #a0d2eb;
}

.tform{
  max-width: 1000px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: auto;
}
.tform input{
  flex-basis: 80%;
  padding: 6px;
  height: 30px;
  font-size: 19px;
  font-weight:lighter;
  background-color: #000000;
  border: 1px solid #585d73;
  color: #6c738f;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.25em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;

}
.tform button{
  flex-basis: 20%;
  border-radius: 3px;
  background-color: rgb(159, 96, 96);
  color: white;
}

.listss{
  max-width: 1000px;
  margin: auto;
 
 
}
.ulll{
  
  font-size: 20px;
  
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 40px;
   padding-left: 0px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   gap: 4px;
   justify-content: flex-start;
   
   /* display: flex;
   justify-content:center;
   flex-direction: column; */
   margin-bottom: 0px;
  

  

}
.listss li{
  list-style: none;
  width: 1000px;
  padding: 10px;
 position: relative;
    
 color:#6b808a;
    padding-left: 20px;
     width: 980px;
     border-radius: 2px;
     border: 1px solid rgb(86, 86, 86);
   
     
    
     



}
.spa{
position: absolute;
cursor: pointer;
right: 30px;
}

.lii{
text-decoration:line-through;
background-color: rgba(255, 255, 0, 0.838);
color: red;

}

/* ///////////////////////////////// */

/* password */ 

.bby{

    display: flex;
    height: 66vh;
    justify-content: center;
  
    width: 100%;
    /* border: 1px solid rgb(86, 86, 86); */
}
.Pbox h2{
    padding-left: 50px;
    padding-right: 50px;
    color:#a0d2eb;
}
.copy{
    border-radius: 3px;
    background-color: rgb(171, 127, 127);
    color: white;

}

.Pbox{
    max-width: 500px;
    border: 1px solid #585d73;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.05em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
  
    ;
    padding: 10px;
}
.inpbox{
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 10px;
   
}



.pass{
    height: 23px;
   
    flex-basis: 80%;
}
.copy{
    flex-basis: 20%;
}
.copy:hover{
    opacity:0.2;
}

.passlength{
    
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 18px;
    padding-left:30px ;
    border: 1px solid #585d73;
  box-shadow: rgba(160, 210, 235, 1) 0px 0px 0.05em, rgba(160, 210, 235, 0.5) 0px 0.25em 1em;
    padding: 6px;
    margin: 6px;
   
  
}
.pl{
    flex-basis: 80%;
    font-size: 17px;
    background-color: #000000;
    border: 1px solid #585d73;
    color: rgb(129, 128, 128);
}
.pn{
    flex-basis: 20%;
   background-color: black;
   color: #6f758f;
   font-size: 20px;
}
.passlength input{
    background-color: black;
    border: 1px solid #585d73;
}
.gener button{
    text-align:center;
    width: 100%;
    padding: 6px;
    background-color: rgb(171, 134, 134);
   cursor: pointer;
  border: solid 1px rgb(130, 82, 82);
   border-radius: 2px;
   height: 30px;
   color: aliceblue;
   font-size: 18px;

}

.gener button:hover{
    opacity: 0.3;
}





/* /////////////////////////////// */

.con{
    max-width: 100%;
    max-height: 100%;
    
}

.lf{

    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 180px;
    background-color: #A35C7A;
    border-radius: 3px;
    
}
.det{
   padding: 30px;
    display: flex;
    flex-direction: column;

}
.bb{
   
    text-align: center;
    margin-bottom: 26px;
}
.det label{
    margin-top: 10px;
    margin-bottom: 5px;
 font-size: 20px;
 color: aliceblue;
}
.det input{
    font-size: 20px;
}
.bt{
    font-size: 16px;
    background-color: black;
    color: aliceblue;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
  
    

}
.sh table, tr,th,td{

    border: 1px solid;
    

}
.sh tr,th,td{
    padding: 7px;
}

.sh table{
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
   
}





 